[Unit]
Description=OpenStack Compute Service
After=syslog.target network.target

[Service]
Type=notify
ExecStart=/opt/nova/bin/uwsgi --ini /etc/nova/nova-metadata-api-uwsgi.ini
ExecStop=/bin/kill -WINCH ${MAINPID}
User=root
Restart=always
KillSignal=SIGQUIT
StandardError=syslog

[Install]
WantedBy=multi-user.target
