[Unit]
Description=OpenStack Dashboard Service
After=syslog.target network.target

[Service]
Type=notify
ExecStart=/opt/horizon/bin/uwsgi --ini /etc/horizon/horizon-uwsgi.ini
ExecStop=/bin/kill -WINCH ${MAINPID}
User=root
Restart=always
KillSignal=SIGQUIT
StandardError=syslog

[Install]
WantedBy=multi-user.target
